    @media(max-width:1200px) {
        body {
            background-color: ;
        }
        .fundo-video {
            display: none;
        }
        .principal {
            flex-wrap: wrap;
        }
    }