        @media(max-width:1200px) {
        body {
            background-color: red;
        }
        .fundo-video {
            display: none;
        }
        .principal {
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
            gap: 30px;
        }
        .principal .mario {
            max-width: 50%;
        }
        .principal .info {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .principal .sinopse {
            color: aliceblue;
            text-align: center;
        }
        .principal .botao-trailer {}
    }
    
    @media(max-width:1200px) {