body {
    background: var;
    font-family: 'Poppins';
    color: var(--color-text-primary);
}

.container {
    display: flex;
    align-items: center;
}

.mario {
    flex-direction: row;
}

.imagem-titulo {
    width: 200;
}